langchain>=0.3
langchain-core>=0.3
langgraph>=0.2
langchain-google-genai>=2.0
deepagents>=0.1
pydantic>=2.0
dotenv
neo4j
langchain_mcp_adapters
langchain-openai
langchain-qdrant
qdrant-client
fastembed
sentence-transformers
fastapi
uvicorn
slack-sdk
aiohttp
jinja2